<mat-form-field class="app-highchart-token-selector">
    <mat-label>Token pair</mat-label>
    <mat-select [(value)]="selectedPair.value" (selectionChange)="selectPair($event.value)">
        <mat-option *ngFor="let pair of tokenPairs" [value]="pair.value">{{pair.viewValue}}</mat-option>
    </mat-select>
</mat-form-field>

<highcharts-chart *ngIf="options$ | async as options"
                  class="app-highchart"
                  [Highcharts]="Highcharts"
                  [constructorType]="'stockChart'"
                  [options]="options"
                  (chartInstance)="saveInstance($event)"
></highcharts-chart>
